@for(playerUI of gameStateUI.players(); track playerUI.id()){
  <p>Name: {{playerUI.name()}} | Mushrooms: {{playerUI.mushrooms()}} |
    Alive: {{playerUI.alive()}} | HandCards: [{{playerUI.handCards()}}] | BoardCards: [{{playerUI.boardCards()}}] | InactiveCards: [{{playerUI.inactiveCards()}}] 
    | canPlay: {{playerUI.canPlay()}} | canKill: {{playerUI.canKill()}}
  </p>

}
<p>Players:
  [@for(player of gameStateUI.players(); track player.id()){
    {{player.name()}}
  }]
   | Threshold: {{gameStateUI.mushroomThreshold()}} | Round: {{gameStateUI.round()}} | Turn: {{gameStateUI.turn()}} | cardValue: {{gameStateUI.cardValue()}} | deadCards: [{{gameStateUI.deadCards()}}]</p>

@for(player of gameStateUI.players(); track player.id()){
    <p>{{player.name()}}
      @if(player.id() == sessionID){
        @if(player.canPlay() == true){
          @for(i of range(0,4); track $index){
            @if(player.handCards()[i] == true){
              <button (click)="onPlay(i, player.id())">Jouer {{i+1}}</button>
            }
            
          }
        }
        @if(player.canKill() == true){
          
          @for(i of range(0,4); track $index){
            @if(gameStateUI.getKillableCards().includes(`${i}`)){
              <button (click)="onKill(i, player.id())">Tuer les {{i+1}}</button>
            }
          }
        }
      }
      | Score: {{player.getScore()}} </p>
  }